.container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.title {
  padding: 16px 0;
  font-size: 30px;
  font-weight: 600;
  line-height: 32px;
}

.seriesList {
  /* display: flex; */
  /* flex-direction: column; */
  width: 66%;
  padding: 6px 12px 0;
}

.listDob {
  width: 33%;
  padding: 6px 12px 0;
}

.seriesList_1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  border-right: 1px solid #ddd;
  padding-right: 12px;
}

.charItem {
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 6px;
}

.charBlock {
  display: flex;
  flex-direction: column;
  min-width: 168px;
  margin-right: 12px;
  margin-bottom: 12px;
}

.label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 6px;
}

.noSelected {
  font-weight: 600;
  font-size: 24px;
  color: red;
  border-top: 1px solid #ddd;
}
